.postlist {
  width: 75%;
  margin: auto;
  text-align: center;
}
.About{
  width: 90%;
  height: 100vh;
  margin: 50px;
}
.Contact{
  width: 90%;
  height: 100vh;
  margin: 50px;
}
.page-content{
  width: 40%;
  margin: auto;
  text-align: center;
}
.post{
  width: 40%;
  margin: auto;
}