.postlist {
  width: 75%;
  margin: auto;
  text-align: center;
}
.Layout, .About, .Contact{
  width: 90%;
  height: 100vh;
  margin: 50px;
}
.page-content{
  width: 80%;
  margin: auto;
  text-align: left;
}
.post{
  width: 40%;
  margin: auto;
}